.page{
    background-color: #2A2C2F;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

@media screen and (max-width:1024px){
    .page{ 
    padding:0 48px;
    }
}

@media screen and (max-width:800px){
    .page{ 
    padding:0 24px;
    }
}

@media screen and (max-width:400px){
    .page{ 
    padding:0 16px;
    }
}