.places{
    display: flex;
    color:white;
    flex-direction: column;
    margin:0;
    padding:0;
}

@media screen and (max-width:1024px){
    .places{ 
    padding:0 48px;
    }
}

@media screen and (max-width:800px){
    .places{ 
    padding:0 24px;
    }
}

@media screen and (max-width:500px){
    .places{ 
    padding:0;
    }
}