.intro__list{
    font-size: 12px;
    line-height: 1.5;
    font-family: "Inter-Bold", 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
    list-style-type: none;
    padding:0;
    margin:0;
}