.places__title{
    max-width: 460px;
    align-self:start;
    font-size: 72px;
    line-height:1.2;
    font-family: "Inter-Black", 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
    margin:0;
}

@media screen and (max-width:800px){
    .places__title{ 
        font-size: 40px;
        max-width: 340px;
    }
}

@media screen and (max-width:700px){
    .places__title{ 
        max-width: 340px;
        font-size: 32px;
    }
}
