.places__link{
    font-family: "Inter-Regular", 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 1.15;
    margin:0;
    color: white;
}

.places__link:hover{
    opacity:.5;
}