.header{
    display: flex;
    max-width: 1184px;
    justify-content: space-between;
    margin:0 auto;
    padding-top: 28px;
}

/*@media screen and (max-width:1184px){
    .header{
        margin:24px 0 0 0;
    }
}

@media screen and (max-width:800px){
    .header{
        margin:24px 24px 0 24px;
    }
}

@media screen and (max-width:400px){
    .header{
        margin:24px 16px 0 16px;
    }
}
