.footer__links{
    list-style-type: none;
    display: flex;
    align-items:end;
    padding:0;
    margin:0;
}



@media screen and (max-width:600px){
    .footer__links{ 
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
}