.intro{
    display: flex;
    flex-direction: column;
    max-width:968px;
    align-self: center;
    margin: 0 auto;
    color: white;
}

@media screen and (max-width:1024px){
    .intro{ 
    padding:0 48px;
    }
}

@media screen and (max-width:800px){
    .intro{ 
    padding:0 24px;
    }
}

@media screen and (max-width:400px){
    .intro{ 
    padding:0 16px;
    }
}