.intro__title{
    font-size:54px;
    line-height: 1.1;
    font-family: "Inter-Black", 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
    margin:114px 0 0 0; 
}

@media screen and (max-width:600px){
    .intro__title{ 
        margin:84px 0 40px 0;
        
    }
}

@media screen and (max-width:400px){
    .intro__title{ 
        font-size:32px;
        line-height: 1.1;
        
    }
}